<div class="p-3 border border-1">
  <small>Add Todo Component</small>
  <form [formGroup]="todoForm" (ngSubmit)="onSubmit(todoForm)">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" formControlName="title" id="title" placeholder="Add todo">
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Add detail of todo</label>
        <textarea class="form-control" formControlName="description" id="description" rows="3"></textarea>
      </div>

      <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
